<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CDDA editor</title>
<style>
body {
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: fixedsys;
  font-size: 16px;
  -webkit-font-smoothing: none;
  cursor: default;
}
@font-face {
  font-family: fixedsys;
  src: url(/public/FSEX300.ttf);
}
* {
  box-sizing: border-box;
  user-select: none;
}
button {
  border: 0;
  padding: 0;
  font: inherit;
  background: none;
  color: white;
  cursor: pointer;
  outline: none;
}
button:before {
  content: '[';
  display: inline;
}
button:after {
  content: ']';
  display: inline;
}
button:hover {
  background: white;
  color: black;
}
button.selector {
  color: cornflowerblue;
}
button.selector:hover {
  color: blue;
}
::-webkit-scrollbar {
  background: black;
  width: 1ex;
}
::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
}
pre {
  font: 16px fixedsys;
  white-space: pre-wrap;
}
select {
  background: none;
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
}
input[type=text] {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}
input[type=text]:focus {
  background: hsl(0, 0%, 20%);
}
</style>
</head>
<body>
  <div id="app" />
</body>
</html>
